.contenedorTableroNumeros {
    background-color: rgb(231, 175, 175);
    background-image: url("../assets/img/tableroOca.png");
    background-size: cover;
    display: grid;
    grid-row: 10;
    grid-column: 10;
    
    
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100vh;
    height: 100vh;
    
}
.contenedorJuego{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}
.numero{
    text-align: right;
    padding-top: 15px;
    padding-right: 11px;
}
.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 40px;
    
}
.winners {
    width: 600px;
    border-collapse: collapse;
    text-align: center;

    tr:nth-child(2n) {
        background-color: rgb(189, 189, 230);
        
    }
    tr th {
        background-color: rgb(7, 7, 148);
        color: white;
        
    }
}
#logger{
    width: 600px;
    height: 450px;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    div {
        border-radius: 20px;
        padding: 10px 15px;
        button{
            font-size: 15px;
            padding: 20px;
            border-radius: 15px;
            border: none;
            background-color: lightblue
        }
    }
}
